/* justify-content: center; // 좌우 정렬
align-items: center; // 상하 정렬 */

.detail_div {
  position: absolute;
  background-color: #f2f2f2;
  opacity: 1;
  left: 0px;
  top: 55px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 55px);
  width: 220px;
  align-items: center;
  border-right: solid transparent 3px;
  border-image: linear-gradient(to right, #b3b3b3, transparent) 1 100%;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.detail_div.hidden {
  transform: translateX(-220px);
}

/* //////////////////////////////////////////////////// */

.riskprofile_div {
  position: relative;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.data_button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #edf2f6;
  border: solid 0.5px;
  border-radius: 4px;
  cursor: pointer;
  padding: 2px;
  margin-bottom: 10px;
}
.data_button:hover {
  background-color: #b3b3b3;
  color: #404040;
}

.profile {
  width: 65px;
  height: 60px;
  font-size: 250%;
  color: #404040;
}
.profile .profile_text {
  visibility: hidden;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  color: #808080;
  width: 55%;
  bottom: 100%;
  padding: 6px;
  border-radius: 0;
  border: solid 2px #cccccc;
  text-align: center;
  font-size: 0.8rem;
  /*   line-height: 1.2; */
  z-index: 1;
}
.profile:hover .profile_text {
  visibility: visible;
}

.chart {
  width: 65px;
  height: 60px;
  font-size: 200%;
  color: #404040;
}
.chart .chart_text {
  visibility: hidden;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  color: #808080;
  width: 40%;
  bottom: 100%;
  padding: 8px;
  border-radius: 0;
  border: solid 2px #cccccc;
  text-align: center;
  font-size: 0.8rem;
  /*   line-height: 1.2; */
  z-index: 1;
}
.chart:hover .chart_text {
  visibility: visible;
}

.chart_container {
  border: solid 2px #cccccc;
  background-color: white;
  position: fixed;
  left: 221px;
  width: calc(100vw - 220px);
  height: calc(100vh - 55px);
  overflow-x: auto;
  z-index: 1;
}

#legend {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 5px;
  font-size: 10pt;
}

/* input[type="checkbox"] {
  accent-color: #666;
}

input[type="checkbox"]:checked {
  background-color: #666; 
}

input[type="checkbox"] + label {
  cursor: pointer;
  padding-left: 5px;
} */

.checkbox-wrapper input[type="checkbox"] {
  display: none;
}
.checkbox-wrapper label {
  position: relative;
  padding-left: 20px;
  padding-right: 10px;
  cursor: pointer;
}

.checkbox-wrapper label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 11px;
  height: 11px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.checkbox-wrapper input[type="checkbox"]:checked + label:before {
  background-color: #666;
}
.checkbox-wrapper-0 input[type="checkbox"]:checked + label:before {
  background-color: #f00;
}
.checkbox-wrapper-1 input[type="checkbox"]:checked + label:before {
  background-color: #004182;
}
.checkbox-wrapper-2 input[type="checkbox"]:checked + label:before {
  background-color: #118df0;
}

.profile_container {
  border: solid 2px #cccccc;
  background-color: white;
  position: fixed;
  top: 59%;
  left: 221px;
  padding-top: 10px;
  width: calc(100vw - 220px);
  height: calc(40vh);
}
/* //////////////////////////////////////////////////// */

.rpoptions {
  display: flex;
}

.rp_icon_container {
  display: flex;
  position: relative;
  height: 20px;
  width: 160px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  background: none;
}

.rp_icon {
  background: none;
  border: solid 1px;
  border-radius: 10px;
  border-color: #8c8c8c;
  cursor: pointer;
  padding: 5px;
}
.rp_icon.car:hover,
.rp_icon.walk:hover,
.rp_icon.bike:hover {
  background-color: #f6fbff;
  border-color: #404040;
  color: #202020;
}

.rp_icon.car.selected,
.rp_icon.walk.selected,
.rp_icon.bike.selected {
  background-color: #f6fbff;
  border-color: #404040;
  color: #202020;
}

.rp_icon.car,
.rp_icon.walk,
.rp_icon.bike {
  width: 48px;
  height: 28px;
  font-size: 13pt;
  color: #8c8c8c;
}

.rp_roadNo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  border-bottom: solid #cccccc 1px;
  width: 80%;
  margin-top: -5px;
  color: #cccccc;
}

.rp_roadNo div {
  flex-grow: 1;
  color: #666666;
  font-size: 10pt;
}

.rp_roadNo:hover {
  background-color: #f6fbff;
}

/* //////////////////////////////////////////////////// */

.toggle-button {
  position: fixed;
  background-color: #8c8c8c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 25px;
  height: 50px;
  top: 50%;
  left: 220px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: right;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
}

.toggle-button.hidden {
  transform: translate(-220px, -50%);
  justify-content: center;
}
